<h2 mat-dialog-title>Deseja adicionar um dizimista?</h2>

<mat-dialog-content>
  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Digite o nome:</mat-label>
    <input matInput [(ngModel)]="name" />
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Digite o endereço</mat-label>
    <input matInput [(ngModel)]="address" />
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>CPF</mat-label>
    <input matInput [(ngModel)]="cpf" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onConfirm()">Confirmar</button>
</mat-dialog-actions>
