<div class="wrapper">
  <div class="content-view">
    <div>
      <h2>Gerenciamento de usuários</h2>
      <mat-form-field
        appearance="outline"
        floatLabel="always"
        class="full-width-input"
      >
        <mat-icon matPrefix>
          <lucide-icon name="search"></lucide-icon>
        </mat-icon>
        <input matInput placeholder="Buscar dizimista" type="text" />
      </mat-form-field>
      <button type="submit" class="btn-tithe">Buscar</button>
    </div>
    <app-table-management></app-table-management>
  </div>
</div>
