.content-wrapper {
  min-width: 100vw;
  background-color: #F5F5F5;
}
.content-phrase {
  background-color: #FFFFFF;
  border: 1px solid #D1D1D4;
  border-radius: 1rem;
  padding: 1rem;
  margin: 2rem 1rem 0rem 1rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #384151;
  }
  p{
    font-size: 1rem;
    color: #6B7280;
    font-weight: 500;
  }
}
