<div class="wrapper">
  <div class="wrapper-form">
    <div class="form-container">
      <div class="form">
        <div class="form-title">
          <div class="title-header">
            <lucide-icon name="church" size="36"></lucide-icon>
            <h1>EcclesiaPay</h1>
          </div>
          <p>Gerenciamento de dízimos e ofertas.</p>
        </div>
        <form
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
          class="form-login"
        >
          <mat-form-field
            appearance="outline"
            floatLabel="always"
            class="full-width-input"
          >
            <mat-label>Usuário</mat-label>
            <mat-icon matPrefix>
              <lucide-icon name="user-round"></lucide-icon>
            </mat-icon>
            <input
              type="email"
              matInput
              placeholder="Digite seu usuário"
              formControlName="email"
            />
            <mat-error *ngIf="loginForm.get('email')?.hasError('required')"
              >Insirir e-mail é obrigatório</mat-error
            >
            <mat-error
              *ngIf="
                loginForm.get('email')?.hasError('email') &&
                !loginForm.get('email')?.hasError('required')
              "
              >Por favor, insira um e-mail válido</mat-error
            >
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            floatLabel="always"
            class="full-width-input"
          >
            <mat-icon matPrefix>
              <lucide-icon name="lock"></lucide-icon>
            </mat-icon>
            <mat-label>Senha</mat-label>
            <input
              type="password"
              matInput
              placeholder="Digite sua senha"
              formControlName="password"
            />
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')"
              >Por favor, insira sua senha.</mat-error
            >
          </mat-form-field>
          <div *ngIf="loginForm.hasError('invalid')">
            <mat-error>Usuário ou senha incorretos</mat-error>
          </div>
          <button type="submit" class="button-form">Entrar</button>
        </form>
      </div>
      <div class="welcome">
        <div class="welcome-icon">
          <lucide-icon name="church" size="110"></lucide-icon>
        </div>
        <div class="welcome-title">
          <h2>Bem-vindo ao EcclesiaPay</h2>
          <p>Gerencie seus dízimos e ofertas com simplicidade e segurança.</p>
        </div>
      </div>
    </div>
  </div>
</div>
