<div class="wrapper">
  <img src="../../../assets/images/christmas-angel-animate.svg" alt="Anjo" class="img" />
  <form class="wrapper-form">
    <h2 class="form-title">Login</h2>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Usuário</mat-label>
      <input matInput placeholder="Digite seu usuário" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Senha</mat-label>
      <input matInput placeholder="Digite sua senha" type="password" />
    </mat-form-field>
    <button mat-flat-button color="primary" class="full-width">Entrar</button>
  </form>
</div>
 