<div class="history-content">
  <div class="history-view">
    <h2>Histórico de contribuições</h2>
    <mat-form-field
      appearance="outline"
      floatLabel="always"
      class="full-width-input"
    >
      <mat-icon matPrefix>
        <lucide-icon name="search"></lucide-icon>
      </mat-icon>
      <input matInput placeholder="Buscar dizimista" type="text" />
    </mat-form-field>
    <button type="submit" class="btn-tithe">Pesquisar dizimista</button>
    <div class="user-information">
      <div>
        <h3>Nathã Souza Lopes</h3>
        <p>Dizimista desde: 2025</p>
      </div>
    </div>
    <app-table-history></app-table-history>
  </div>
</div>
