.history-content {
  min-width: 100%;
  min-height: 100vh;
  background-color: #F5F5F5;
}

.history-view {
  margin: 0rem 1rem;
  padding: 1rem 0rem;
  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 4rem;
  }
}

.user-information {
  display: flex;
  align-items: center;
  gap: 1rem;
  h3{
    font-size: 1.25rem;
    font-weight: bold;
  }
  p {
    font-size: 1rem;
  }
}

.btn-tithe {
  background: #1F2937;
  color: #FFFFFF;
  padding: 1rem 2rem;
  border-radius: 0.875rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-left: 1rem;
}

.btn-tithe:hover {
  background: #2E3A4B;
  opacity: 0.9;
  transition: 0.3s;
}

.full-width-input {
  width: 50rem;
  margin-bottom: 1rem;
  border-radius: 16px;
  border-color: #FFFFFF;
}
